#nav_brand {
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
}

#github {
    filter: invert(100%);
}

.hero.is-primary {
    background-color: #e21833;
}

.hero .button {
    background-color: #ffd200;
    color: #000;
}

#headshot {
    max-width: 200px;
    width: 100%;
    aspect-ratio: 1/1;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #ffd200;
    object-fit: cover;
}

.project_img {
    border-radius: 10%;
    border: 2px solid #000000
}

.spacer {
    margin-bottom: 1.5rem; 
}

.bullet-list {
    list-style-type: disc;
    margin-left: 2rem;
    padding-left: 1rem;
}

.jaybot-video {
    max-width: 350px;
    width: 100%;
    height: 300px; /* Match your desired height */
    object-fit: contain; /* Show entire video without cropping */
    /* or object-fit: cover; to fill container, may crop */
}